################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/BreakdownPredict/.vs/BreakdownPredict/v16
