################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/BreakdownPredict/.vs/BreakdownPredict/v16
/BreakdownPredict/Debug
/BreakdownPredict/BreakdownPredict/Debug
/BreakdownPredict/BreakdownPredict/out